.dark-mode input::placeholder {
  color: rgba(255, 255, 255, 0.6) !important;
}

input:focus{
  transition: 0.2s;
  padding: 10px!important;
}

.form-control:focus{
  outline: none;
  box-shadow: none;
  border-color: #6c757d;
}

.table{
  transition: 0.2s;
  text-align: center;
}

nav{
  border-bottom: 1px solid #6c757d;
  font-weight: bold;
}

thead{
  font-weight: bold;
}

.filtro{
  display: none;
}